.center-image {
    background: url('https://cdn.sunlife.com/static/canada/signin/ca/loadingimg.gif') no-repeat;
    margin: auto;
    width: 50%;
    display: block;
}



.live-entry-grid-preview dt,dd {
    line-height: 1.2;
}
.live-entry-grid-preview dt {
    float: left;
    clear: left;
    width: 50%;
    text-align: right;
    font-weight: bold;
    color: green;
    margin-right: 5px;
}
.live-entry-grid-preview dt:after {
    content: ":  ";
}
.live-entry-grid-preview dd {
    padding: 0 0 0.3em 0;
}