img{
  max-height:100%;
  max-width:100%;
  vertical-align: middle;
}
.miniApp {
  padding: 10px;
}

.miniApp p{
  text-align: left;
}
.miniApp .refreshBtn{
  position: absolute;
  top: 40px;
  right: 10px;
}
.miniApp .actionsBtn{
  color: #fff;
  background-color: #2399e5;
  border-color: #1f89ce;
}

.thumbnailHolder{
  width: 75px;
  height: 50px;
  background-color: black;
  white-space: nowrap;
  text-align: center;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.form-group {
  padding-top: 5px;
  padding-right: 10px;
}

.form-group label{
  font-weight: normal;
}

.tableHolder{
  height: calc(100% - 200px);
}

.favorite-entry {
  cursor: pointer;
}

.favorites-filter{
  position: absolute;
  top: 40px;
  left: 250px;
}




dt,dd {
  line-height: 1;
}
dt {
  float: left;
  clear: left;
  width: 150px;
  text-align: right;
  font-weight: bold;
  color: green;
  margin-right: 5px;
}
dt:after {
  content: ":  ";
}
dd {
  padding: 0 0 0.3em 0;
}



