<k-area-blocker [showLoader]="!_applicationLoaded">
  <div class="compact-dashboard-box">
    <div class="stream-indicators">
      <stream-configurations [compactMode]="true" [colorsReverted]="colorsReverted"></stream-configurations>
    </div>
    <div class="vr"></div>
    <div class="stream-information">
      <details-and-preview [compactMode]="true" [colorsReverted]="colorsReverted" [electronMode]="electronMode"></details-and-preview>
      <further-information [colorsReverted]="colorsReverted" [electronMode]="electronMode"></further-information>
    </div>
  </div>
</k-area-blocker>
