@import '../../../node_modules/@kaltura-ng/mc-theme/themes/default/scss/_variables.scss';

.compact-dashboard-box {
  flex:  1 0 100%;
  height: 96px;
  padding-bottom: 6px;
  line-height: 16px;
  text-align: center;
  border-bottom: solid 2px rgba(170, 170, 170, 0.15);

  .stream-information {
    margin: 36px 24px;

    display: flex;
    flex-flow: row nowrap;
  }

  details-and-preview {
    flex: 0 1 50%;
  }

  further-information {
    flex: 0 1 50%;
  }
}
