<div style="width:100%;height:360px;">
    <div>
    <p-dropdown  [style]="{'width':'calc(100% - 40px)' }" [options]="players" [(ngModel)]="selectedPlayer"></p-dropdown>
    <button style="float:right; right:0; width:36px" pButton  (click)="refreshPlayers()" icon="fa-refresh" ></button>
    </div>
    <iframe [src]="playerIFrameUrl | safe"
            allowfullscreen
            webkitallowfullscreen
            mozAllowFullScreen
            frameborder="0"
            style="width: 640px; height: 360px;"
            itemprop="video"
            itemscope
            itemtype="http://schema.org/VideoObject">
<!--
        <span itemprop="name" content="Aflivede hunde"></span>
        <span itemprop="description" content=""></span>
        <span itemprop="duration" content="116"></span>
        <span itemprop="thumbnail" content="{{entry.thumbnailUrl}}"></span>
        <span itemprop="width" content="640"></span>
        <span itemprop="height" content="360"></span>
-->
    </iframe>
</div>