<div class="live-entry-card">
    <div class="live-entry-card-preview">
        <img  [src]="entry.thumbnailUrl" style="width:100%">
        <i class="live-entry-card-stream-health fa fa-heartbeat" aria-hidden="true"></i>
        <div class="live-entry-card-status">
            <live-entry-status [entry]="entry"></live-entry-status>
        </div>
    </div>
    <div class="live-entry-card-container">
        <a class="live-entry-card-title" (click)="openEntry()">{{entry.name}}</a>
        <dl>
            <dt>Incomming bitrate</dt><dd>1,204 Kbit/s</dd>
            <dt>Incomming FPS</dt><dd>29.97</dd>
            <dt>Outgoing flavors</dt><dd>{{entry.flavors}}</dd>
            <dt>Redundant</dt><dd>{{entry.redundant ? "Yes" : "No"}}</dd>
        </dl>
        <i class="live-entry-card-audience fa fa-users" aria-hidden="true"></i>
        <span  [innerHTML]="entry.audience | valueWithSpinner"></span>
    </div>
</div>