.live-entry-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    background: white;
    border-radius: 6px;
}

.live-entry-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.live-entry-card img {
    border-radius: 5px 5px 0 0;
}
.live-entry-card-title {
    width: 100%;
    font-size: 20px;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.live-entry-card-container {
    padding: 5px 5px;
}

.live-entry-card-preview {
    position:relative;
    overflow:hidden;
}
.live-entry-card-stream-health {
    right: 0;
    bottom: 0;
    padding: 10px;
    position: absolute;
    font-size: 30px;
    color: green;
    text-shadow: 1px 1px 2px black, 0 0 10px white, 0 0 5px black;
}
.live-entry-card-status   {
    top: 0;
    margin: 8px;
    padding: 5px;
    position: absolute;
}
.live-entry-card-audience {
    position:relative;

    right:0;
}



.live-entry-card dl {
    padding: 0.5em;
    font-size: 14px;
}
.live-entry-card dt {
    float: left;
    clear: left;
    width: 50%;
    text-align: left;
    font-weight: bold;
    color: green;
}
.live-entry-card dt:after {
    content: ":";
}
.live-entry-card dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}