<div class="stream-info-header grid-spaceBetween">
  <div class="stream-info-title col no-padding">{{ "DIAGNOSTICS.stream_info" | translate }}</div>

  <span class="kIconUsers"></span>

  <div class="num-of-watchers">{{ _numOfWatchers }}</div>
  <div class="watching">{{ "DIAGNOSTICS.watching" | translate }}</div>
</div>

<!-- gray container -->
<div class="notification-container">

  <!-- title -->
  <div class="stream-health-title">
    <span class="text">{{ "DIAGNOSTICS.stream_health_title" | translate | uppercase }}</span>
  </div>

  <!-- list -->
  <div class="notification-list">

    <!-- list item -->
    <div *ngFor="let notification of streamHealthNotifications" class="notification-item grid col-12 no-margin">
      <div class="bullet"
           [class.bullet-green]="(notification.health === 'Good')"
           [class.bullet-yellow]="(notification.health === 'Fair')"
           [class.bullet-red]="(notification.health === 'Poor')">•</div>

      <div class="item-info col">
        <div class="row-1">
          <span class="status-prop">{{ notification.updatedTime | localeTime }}</span>
          <span class="status-prop">{{ (notification.isPrimary ? 'COMMON.primary' : 'COMMON.secondary') | translate }}</span>
          <span class="status-prop">{{ notification.health }}</span>
        </div>

        <div class="row-2 alerts">
          <div *ngFor="let alert of notification.alerts" class="grid alert">
            <span class="small-bullet"
                 [class.bullet-green]="(alert.Health === 'Good')"
                 [class.bullet-yellow]="(alert.Health === 'Fair')"
                 [class.bullet-red]="(alert.Health === 'Poor')">•</span>
            <span class="col alert-description">{{ "ALERTS." + alert.Code + ".title" | translate: alert.Arguments}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
