@import '../../../../node_modules/@kaltura-ng/mc-theme/themes/default/scss/_variables.scss';

.stream-info-header{
  margin: 0 0 24px 0;
}

.stream-info-title {
  color: $kGrayscale1;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

.kIconuser{
  padding-left: 20px;
  line-height: 24px;
  color: $kGrayscale3;
  font-size: 21px;

  &:before {
    content: "\e90b";
    //content: "\e92e";  TODO: change it after @kaltura-ng\mc-theme will update.
  }
}

.num-of-watchers {
  color: $kTertiary;
  font-size: 24px;
  line-height: 24px;
  padding-left: 20px;
}

.watching {
  color: $kTertiary;
  font-size: 15px;
  line-height: 24px;
  padding-left: 20px;
}

.notification-container{
  border-radius: 3px;
  background-color: $kGrayscale7;
  padding: 13px 0 13px 13px;
  height:270px;
  width: 100%;
  box-sizing: border-box;
}

.stream-health-title {
  margin-bottom: 30px;
  color: $menuBkgColor;
  height: 13px;
  width: 100%;
  margin-bottom: 50px;

  .text {
    padding: 0 3px 15px 0;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 15px;
    border-bottom: 2px solid $menuBkgColor;
  }
}

.notification-list{
  height: 192px;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.notification-item {
  padding-bottom: 23px;
}

.bullet {
  font-size: 47px;
  line-height: 23px;
  padding-left: 2px;
}

.item-info {
  padding: 0 0 0 16px;
}

.row-1 {
  color: $kGrayscale2;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 4px;
}

.status-prop {
  padding-right: 13px;
}

.row-2 {
  color: $kGrayscale3;
  font-size: 12px;
  line-height: 15px;
}
