<div class="stream-configurations">
  <div class="property">
    <label class="configuration-label">Stream Status</label>
    <div class="configuration-status">
      <span class="icon">•</span>
      <span class="state">Offline</span>
    </div>
  </div>
  <div class="property">
    <label class="configuration-label">Stream Health</label>
    <!--<i class="kIconhelp" aria-hidden="true"></i>-->
    <div class="configuration-status">
      <span class="icon">•</span>
      <span class="state">B</span>
    </div>
  </div>
  <div class="property">
    <label class="configuration-label">Elapsed Time</label>
    <div class="configuration-status">
      <span class="icon">•</span>
      <span class="state">C</span>
    </div>
  </div>
  <div class="property">
    <label class="configuration-label">Transcoding</label>
    <div class="configuration-status">
      <span class="icon">•</span>
      <span class="state">D</span>
    </div>
  </div>
  <div class="property">
    <label class="configuration-label">Recording</label>
    <div class="configuration-status">
      <span class="icon">•</span>
      <span class="state">{{_recordingStatus}}</span>
    </div>
  </div>
  <div class="property">
    <label class="configuration-label">DVR</label>
    <div class="configuration-status">
      <span class="icon">•</span>
      <span class="state">{{_dvrStatus}}</span>
    </div>
  </div>
  <div class="property">
    <label class="configuration-label">Redundancy</label>
    <div class="configuration-status">
      <span class="icon">•</span>
      <span class="state">G</span>
    </div>
  </div>
</div>

