@import '../../../../node_modules/@kaltura-ng/mc-theme/themes/default/scss/_variables.scss';

.stream-configurations {
  height: 126px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  .property {
    display: flex;
    flex-flow: column nowrap;
    text-align: left;

    .configuration-label {
      font-size: 13px;
      font-weight: 600;
      color: $kGrayscale3;
    }

    .stream-health {
      display: flex;
      flex-flow: row nowrap;

      label {
        margin-right: 5px;
      }
    }

    .configuration-status {
      margin-top: 14px;
      margin-left: -1px;

      .bullet {
        font-size: 60px;
      }

      .state {
        margin-left: 4px;
        vertical-align: top;
        font-weight: 400;
      }

      &.elapsed-time {
        .bullet {
          color: transparent;
        }

        .state {
          float: left;
          margin-left: 5px;
        }
      }
    }
  }
}
