<div class="additional-settings kOverrideFAIcons" *ngIf="_currentEntry">
  <div class="conversion-profile">
    <label>{{ 'ADDITIONAL_SETTINGS.conversion_profile' | translate }}</label>
    <p-dropdown *ngIf="_conversionProfilesList.length" [options]="_conversionProfilesList" [(ngModel)]="_currentEntry.conversionProfileId"
                [style]="{'width':'210px', 'height':'34px'}"></p-dropdown>
  </div>
  <div class="entry-options">
    <div class="dvr">
      <p-checkbox [ngModel]="_currentEntry.dvrStatus" (ngModelChange)="_onDvrCheckChange($event)"
                  label="{{ 'ADDITIONAL_SETTINGS.enable_live_dvr' | translate }}" binary="true"></p-checkbox>
    </div>
    <div class="recording">
      <p-checkbox [(ngModel)]="_recording" (onChange)="_onRecordingCheckChange($event)"
                  label="{{ 'ADDITIONAL_SETTINGS.enable_live_to_dvr_recording' | translate }}" binary="true"></p-checkbox>
      <div *ngIf="_recording">
        <p-radioButton name="recordingNewEntrySessionType"
                       value="newEntryPerSession"
                       [ngModel]="_currentEntry.recordStatus | recordingType"
                       (ngModelChange)="_onClickRecordingRadio($event)"
                       label="{{ 'ADDITIONAL_SETTINGS.create_entry_for_every_broadcast' | translate }}"></p-radioButton>
      </div>
      <div *ngIf="_recording">
        <p-radioButton name="recordingAppendRecordingType"
                       value="appendRecording"
                       [ngModel]="_currentEntry.recordStatus | recordingType"
                       (ngModelChange)="_onClickRecordingRadio($event)"
                       label="{{ 'ADDITIONAL_SETTINGS.append_recorded_content_to_single_entry' | translate }}"></p-radioButton>
      </div>
    </div>
    <div class="previewMode">
      <p-checkbox [(ngModel)]="_previewMode" label="{{ 'ADDITIONAL_SETTINGS.preview_mode' | translate }}" binary="true"></p-checkbox>
    </div>
  </div>
</div>
