<div class="encoder-settings">
  <header>
    <span>Encoder Settings</span>
    <span class="streamState">OFFLINE</span>
  </header>
  <div class="encoder-urls">
    <div class="url-box">
      <label>Primary URL</label>
      <i class="kIconhelp" aria-hidden="true"></i>
      <span>Copy</span>
      <input type="text" [value]="primaryUrl" readonly/>
    </div>
    <div class="url-box">
      <label>Backup URL</label>
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      <span>Copy</span>
      <input type="text" [value]="secondaryUrl" readonly/>
    </div>
    <div class="url-box">
      <label>Stream Name</label>
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      <span>Copy</span>
      <input type="text" [value]="streamName" readonly/>
    </div>
  </div>
  <footer>
    <button pButton type="button" class="ui-button kButtonDefault exportXml" label="Export XML"></button>
    <button pButton type="button" class="ui-button kButtonDefault generateToken" label="Re - Generate Token"></button>
  </footer>
</div>
