<div>
  <!--<div *ngIf="(_liveEntryService.streamStatus$ | async) === loading">LOADING...</div>-->
  <div class="setup-and-preview">
    <div class="stream-health">
      <stream-configurations></stream-configurations>
    </div>
    <div class="learn-more">
      <div>
        <span class="learn-more-text">To start broadcasting, configure your encoder and start streaming.</span>
        <div class="learn-more-link">
          <span>Learn more</span>
        </div>
      </div>
    </div>
    <div class="main">

    </div>
    <!--<div class="main">
      <div class="main-left">
        <p-tabView class="general-settings">
          <p-tabPanel header="BASIC">
            <basic-settings></basic-settings>
          </p-tabPanel>
          <p-tabPanel header="SETTINGS">
            <additional-settings></additional-settings>
          </p-tabPanel>
        </p-tabView>
      </div>
      <div class="main-right">
        <encoder-settings></encoder-settings>
      </div>
    </div>
    <footer>
      <button pButton type="button" class="ui-button kButtonBranded saveInfo" label="Save" (click)="onClickSaveBtn()"></button>
    </footer>-->
  </div>
</div>
