<k-area-blocker [showLoader]="!_applicationLoaded">
  <div>
    <div class="streamInfo">
      <div class="preview-player">

        <div *ngIf="_dynamicInfo.streamStatus.state !== 'Live' && !_dynamicInfo.streamSession.isInProgress" class="not-broadcasting-container">
          <p id="firstRow">{{ 'STREAM_INFO.not_broadcasting' | translate }}</p>
          <p id="secondRow">{{ 'STREAM_INFO.video_no_available_explanation' | translate }}</p>
        </div>

        <iframe *ngIf="_dynamicInfo.streamStatus.state === 'Live' || _dynamicInfo.streamSession.isInProgress"
                [src]="_playerSrc | safe" width="100%" height="100%" allowfullscreen="true" webkitallowfullscreen="true" mozAllowFullScreen="true" frameborder="0"></iframe>

      </div>
      <div class="go-live-div" *ngIf="_explicitLiveInformation.enabled">
        <button *ngIf="_explicitLiveInformation.previewMode" pButton type="button" class="ui-button kButtonBranded go-live-button" label="Go Live"
                [disabled]="_dynamicInfo.streamStatus.state !== 'Live'"
                (click)="_onClickGoLive()"
        ></button>
        <button *ngIf="!_explicitLiveInformation.previewMode" pButton type="button" class="ui-button kButtonDanger go-live-button" label="End Live"
                [disabled]="_dynamicInfo.streamStatus.state !== 'Live'"
                (click)="_onClickEndLive()"
        ></button>
      </div>
      <div class="details">
        <h1>{{ 'STREAM_INFO.details' | translate }}</h1>
        <div class="content">
          <div class="row" >
            <span class="left">{{ 'STREAM_INFO.creator' | translate }}</span>
            <span class="right" [kTooltip]="_liveEntry.creatorId" [maxWidth]="150">{{_liveEntry.creatorId}}</span>
          </div>
          <div class="row">
            <span class="left">{{ 'STREAM_INFO.creation_date' | translate }}</span>
            <span class="right" [kTooltip]="_liveEntry.createdAt | localeTime: true" [maxWidth]="180">{{_liveEntry.createdAt | localeTime}}</span>
          </div>
          <div class="row">
            <span class="left">{{ 'STREAM_INFO.type' | translate }}</span>
            <span class="right">{{_liveEntry.mediaType | entryType}}</span>
          </div>
          <div class="row">
            <span class="left">{{ 'STREAM_INFO.moderation' | translate }}</span>
            <span class="right">{{_liveEntry.moderationStatus | moderation}}</span>
          </div>
          <div class="row">
            <span class="left">{{ 'STREAM_INFO.plays' | translate }}</span>
            <span class="right">{{_liveEntry.plays}}</span>
          </div>
          <div class="row">
            <span class="left">{{ 'STREAM_INFO.entry_id' | translate }}</span>
            <span class="right">{{_liveEntry.id}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</k-area-blocker>
