<k-area-blocker [showLoader]="_applicationLoading" [message]="_sectionBlockerMessage">
  <div class="default-mode" *ngIf="_applicationLoaded && _configuration.mode === ApplicationMode.Default">
    <default-dashboard></default-dashboard>
    <footer>
      <span class="beta-message">{{ "DASHBOARD.beta_message" | translate: _configuration }}</span>
    </footer>
  </div>
  <div class="compact-window" *ngIf="_applicationLoaded && _configuration.mode === ApplicationMode.Webcast">
    <compact-dashboard></compact-dashboard>
  </div>
</k-area-blocker>
