<div class="streamInfo">
  <div class="preview-player">
    <div class="player-div">
      <p id="firstRow">Currently not broadcasting</p>
      <p id="secondRow">video will play once broadcasting start</p>
    </div>
    <div class="goLive-div">
      <button pButton type="button" class="ui-button kButtonBranded goLive-button" label="Go Live"></button>
    </div>
  </div>
  <div class="details">
    <h1>Details</h1>
    <div class="content">
      <div class="row">
        <span class="left">Creator</span>
        <span class="right">{{_creator}}</span>
      </div>
      <div class="row">
        <span class="left">Creation Date</span>
        <span class="right">{{_date | date:'MM/dd/y HH:MM'}}</span>
      </div>
      <div class="row">
        <span class="left">Type</span>
        <span class="right">Three</span>
      </div>
      <div class="row">
        <span class="left">Moderation</span>
        <span class="right">Five</span>
      </div>
      <div class="row">
        <span class="left">Plays</span>
        <span class="right">{{_plays}}</span>
      </div>
    </div>
  </div>
</div>
