<div class="streamInfo">
  <div class="preview-player">
    <div class="player-div">
      <p id="firstRow">{{ 'STREAM_INFO.not_broadcasting' | translate }}</p>
      <p id="secondRow">{{ 'STREAM_INFO.video_no_available_explanation' | translate }}</p>
    </div>
    <!--<div class="goLive-div">
      <button pButton type="button" class="ui-button kButtonBranded goLive-button" label="Go Live"></button>
    </div>-->
  </div>
  <div class="details">
    <h1>{{ 'STREAM_INFO.details' | translate }}</h1>
    <div class="content">
      <div class="row">
        <span class="left">{{ 'STREAM_INFO.creator' | translate }}</span>
        <span class="right">{{_creator}}</span>
      </div>
      <div class="row">
        <span class="left">{{ 'STREAM_INFO.creation_date' | translate }}</span>
        <span class="right">{{_date | date:'MM/dd/y HH:MM'}}</span>
      </div>
      <div class="row">
        <span class="left">{{ 'STREAM_INFO.type' | translate }}</span>
        <span class="right">{{_type | entryType}}</span>
      </div>
      <div class="row">
        <span class="left">{{ 'STREAM_INFO.moderation' | translate }}</span>
        <span class="right">{{_moderation | moderation}}</span>
      </div>
      <div class="row">
        <span class="left">{{ 'STREAM_INFO.plays' | translate }}</span>
        <span class="right">{{_plays}}</span>
      </div>
      <div class="row">
        <span class="left">{{ 'STREAM_INFO.entry_id' | translate }}</span>
        <span class="right">{{_entryId}}</span>
      </div>
    </div>
  </div>
</div>
