<div class="miniApp">
  <p>Live Entries</p>
  <form [formGroup]="searchForm">
    <input type="text" id="search" formControlName="search" placeholder="Search Entries" #search>
    <p-checkbox id="favoritesOnly"  label="Favorites" formControlName="favoritesOnly" binary="true"></p-checkbox>
    <p-checkbox id="liveOnly"  label="Only live" formControlName="liveOnly" binary="true"></p-checkbox>
  </form>
  <div class="btn-group">
    <label class="btn btn-primary" [(ngModel)]="gridMode"  btnRadio="Grid">
      <i class="fa fa-table"></i> <span class="hidden-xs">Grid</span>
    </label>
    <label class="btn btn-primary" [(ngModel)]="gridMode" btnRadio="List">
      <i class="fa fa-list"></i> <span class="hidden-xs">List</span>
    </label>
  </div>
  <button pButton type="text" (click)="refresh(); search.value=''; dt.reset()" icon="fa-refresh" label="Refresh" title="Refresh" class="refreshBtn"></button>


  <!--
  <div class="btn-group pull-right" role="group">
    <a href="" class="btn btn-default active" [ngClass]="{'active': !gridMode }" (click)="setGridMode(false)" style="">
      <i class="fa fa-list"></i> <span class="hidden-xs">List</span>
    </a>
    <a href="" class="btn btn-default" [ngClass]="{'active': gridMode}" (click)="setGridMode(true)" style="">
      <i class="fa fa-table"></i> <span class="hidden-xs">Grid</span>
    </a>
  </div>-->

  <!--
  <p-toggleButton onLabel="Grid" offLabel="Grid"
                  onIcon="fa-th" offIcon="fa-th" [(ngModel)]="gridMode"></p-toggleButton>

  <p-toggleButton onLabel="List" offLabel="List"
                  onIcon="fa-list" offIcon="fa-list" [(ngModel)]="!gridMode"></p-toggleButton>
                  -->
  <br>

<!--

  <button pButton type="text" (click)="onFavoritesFilter()" icon="fa-check" iconPos="right" label="Favorites" class="favorites-filter"></button>
  <button pButton type="text" (click)="onLiveOnlyFilter()" icon="fa-check" iconPos="right" label="Live Only" ></button>
  -->
  <span [hidden]="(entriesList && entriesList.length !== 0) || search.value.length != 0">Loading Entries...</span>
  <div class="gridHolder" *ngIf="gridMode=='Grid'">
    <p-dataGrid [value]="entriesList" [paginator]="true" [rows]="30" [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalEntries">
      <template let-entry>
        <div class="ui-g-6 ui-md-3 ">
          <kmc-live-entry-card (onOpen)="openEntry(entry)" [entry]="entry"></kmc-live-entry-card>
        </div>

      </template>
    </p-dataGrid>
  </div>
  <div class="tableHolder"  *ngIf="gridMode=='List'">
    <p-dataTable [value]="entriesList" scrollable="true" expandableRows="true" [hidden]="!entriesList || entriesList.length===0" scrollHeight="auto" >
      <template let-entry>
        <kmc-live-entry [entry]="entry"></kmc-live-entry>
      </template>
      <p-column expander="true"  styleClass="col-icon" [style]="{'width':'30px'}"></p-column>
      <p-column field="tags" header="Favorite" [sortable]="true" [style]="{'width':'80px', 'text-align': 'center'}">
        <template let-col let-entry="rowData" pTemplate type="body">
          <i [ngClass]="{'fa': true, 'fa-star-o': entry[col.field], 'fa-star': !entry[col.field]}"
             aria-hidden="true"
             (click)="onFavoriteStateChange(entry.id)">
          </i>
        </template>
      </p-column>
      <p-column field="thumbnailUrl" header="Thumbnail"  [style]="{'width':'95px', 'text-align': 'center'}">
        <template let-col let-entry="rowData" pTemplate type="body">
          <div class="thumbnailHolder"><span class="helper"></span><img src="{{entry[col.field]}}"></div>
        </template>
      </p-column>
      <p-column field="id" header="ID" [sortable]="true" [style]="{'width':'100px'}"></p-column>
      <p-column field="name" header="Name" [sortable]="true">
        <template let-col let-entry="rowData" pTemplate type="body">
          <a (click)="onActionSelected('view',entry.id)">{{entry[col.field]}}</a>
        </template>
      </p-column>
      <p-column field="liveStatus" header="Status" [sortable]="true" [style]="{'width':'90px', 'text-align': 'center'}">
        <template let-col let-entry="rowData" pTemplate type="body">
          <span [outerHTML]="entry[col.field] | liveStatus" ></span>
        </template>
      </p-column>
      <p-column field="startTime" header="Start" [sortable]="true" [style]="{'width':'80px', 'text-align': 'center'}">
        <template let-col let-entry="rowData" pTemplate type="body">
            {{entry[col.field] | date: "HH:mm"}}
        </template>
      </p-column>
      <p-column field="audience" header="Viewers" [sortable]="true" [style]="{'width':'80px', 'text-align': 'center'}">
        <template let-col let-entry="rowData" pTemplate type="body">
            {{entry[col.field]}}
        </template>
      </p-column>
      <p-column field="dvrStatus" header="DVR" [sortable]="true" [style]="{'width':'140px', 'text-align': 'center'}">
        <template let-col let-entry="rowData" pTemplate type="body">
          <span class="dvrStatus" [hidden]="entry[col.field] === 0">{{entry['dvrWindow'] / 60}}h</span>
          <span class="dvrStatus" [hidden]="entry[col.field] !== 0">No</span>
        </template>
      </p-column>
      <p-column field="recordStatus" header="Recording" [sortable]="true" [style]="{'width':'100px'}">
        <template let-col let-entry="rowData" pTemplate type="body">
          <span>{{entry[col.field] | recordStatus}}</span>
        </template>
      </p-column>
      <p-column field="flavors" header="Flavors" [sortable]="true" [style]="{'width':'50px'}">
        <template let-col let-entry="rowData" pTemplate type="body">
            {{entry[col.field]}}
        </template>
      </p-column>
      <p-column field="redundant" header="Redundancy" [sortable]="true" [style]="{'width':'50px'}">
        <template let-col let-entry="rowData" pTemplate type="body">
          <span *ngIf="entry[col.field]">
            {{(entry[col.field]) ? "YES" : "NO"}}
          </span>
        </template>
      </p-column>


      <p-column header="Action" [style]="{'overflow':'visible', 'width':'180px'}">
        <template let-col let-entry="rowData" pTemplate type="body">
          <!--
          <p-menu  popup="popup" [model]="entryMenuItems"></p-menu>
          <button type="button" pButton icon="fa fa-bars" iconPos="left" label="Show" (click)="menu.toggle($event)"></button>
          -->
          <!--
          <div class="btn-group" dropdown>
            <button id="single-button" type="button" class="btn btn-xs actionsBtn" dropdownToggle>
              Select Action <span class="caret"></span>
            </button>
            <ul dropdownMenu role="menu" aria-labelledby="single-button" style="z-index: 1000">
              <li role="men~uitem"><a class="dropdown-item" (click)="onActionSelected('embed',entry.id)">Preview & Embed</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="onActionSelected('delete',entry.id)">Delete</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="onActionSelected('view',entry.id)">View Details</a></li>
            </ul>
          </div>-->
        </template>
      </p-column>

    </p-dataTable>

  </div>
<!--
  <p-dialog  header="Title" [(visible)]="displayEntry" [responsive]="true" [width]="800" [height]="600" >
    <kmc-live-entry [entry]="entry"></kmc-live-entry>
  </p-dialog>
-->

</div>
