<div class="miniApp">
  <p>Live Entries</p>
  <form [formGroup]="searchForm">
    <input type="text" id="search" formControlName="search" placeholder="Search Entries" #search>
  </form><br>
  <button pButton type="text" (click)="onFavoritesFilter()" icon="fa-check" iconPos="right" label="Favorites" class="favorites-filter"></button>
  <button pButton type="text" (click)="refresh(); search.value=''; dt.reset()" icon="fa-refresh" label="Refresh" title="Refresh" class="refreshBtn"></button>
  <span [hidden]="(entriesList && entriesList.length !== 0) || search.value.length != 0">Loading Entries...</span>
  <div class="tableHolder">
    <p-dataTable [value]="entriesList" scrollable="true" [hidden]="!entriesList || entriesList.length===0" scrollHeight="auto" #dt>

      <p-column field="tags" header="Favorite" [sortable]="true" [style]="{'width':'80px', 'text-align': 'center'}">
        <template let-col let-entry="rowData" pTemplate type="body">
          <img class="favorite-entry" src="{{entry[col.field] | favoriteEntry}}" (click)="onFavoriteStateChange(entry.id)">
        </template>
      </p-column>
      <p-column field="thumbnailUrl" header="Thumbnail"  [style]="{'width':'95px', 'text-align': 'center'}">
        <template let-col let-entry="rowData" pTemplate type="body">
          <div class="thumbnailHolder"><span class="helper"></span><img src="{{entry[col.field]}}"></div>
        </template>
      </p-column>
      <p-column field="id" header="ID" [sortable]="true" [style]="{'width':'100px'}"></p-column>
      <p-column field="name" header="Name" [sortable]="true">
        <template let-col let-entry="rowData" pTemplate type="body">
          <a (click)="onActionSelected('view',entry.id)">{{entry[col.field]}}</a>
        </template>
      </p-column>
      <p-column field="liveStatus" header="Is Live" [sortable]="true" [style]="{'width':'80px', 'text-align': 'center'}">
        <template let-col let-entry="rowData" pTemplate type="body">
          <img src="{{entry[col.field] | liveStatus}}">
        </template>
      </p-column>
      <p-column field="audience" header="Current # of viewers" [sortable]="true" [style]="{'width':'80px', 'text-align': 'center'}">
        <template let-col let-entry="rowData" pTemplate type="body">
          <span *ngIf="liveEntriesAdditionalData[entry.id] && liveEntriesAdditionalData[entry.id][col.field]">{{liveEntriesAdditionalData[entry.id][col.field]}}</span>
        </template>
      </p-column>
      <p-column field="dvrStatus" header="DVR" [sortable]="true" [style]="{'width':'140px', 'text-align': 'center'}">
        <template let-col let-entry="rowData" pTemplate type="body">
          <span class="dvrStatus" [hidden]="entry[col.field] === 0">{{entry['dvrWindow'] / 60}}</span>
          <span class="dvrStatus" [hidden]="entry[col.field] !== 0">N/A</span>
        </template>
      </p-column>
      <p-column field="recordStatus" header="Recording" [sortable]="true" [style]="{'width':'100px'}">
        <template let-col let-entry="rowData" pTemplate type="body">
          <span>{{entry[col.field] | recordStatus}}</span>
        </template>
      </p-column>
      <p-column header="Action" [style]="{'overflow':'visible', 'width':'180px'}">
        <template let-col let-entry="rowData" pTemplate type="body">
          <div class="btn-group" dropdown>
            <button id="single-button" type="button" class="btn btn-xs actionsBtn" dropdownToggle>
              Select Action <span class="caret"></span>
            </button>
            <ul dropdownMenu role="menu" aria-labelledby="single-button" style="z-index: 1000">
              <li role="men~uitem"><a class="dropdown-item" (click)="onActionSelected('embed',entry.id)">Preview & Embed</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="onActionSelected('delete',entry.id)">Delete</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="onActionSelected('view',entry.id)">View Details</a></li>
            </ul>
          </div>
        </template>
      </p-column>

    </p-dataTable>
  </div>

</div>
