<div class="additional-settings kUseKMCngIcons" *ngIf="_currentEntry">
  <div class="conversion-profile">
    <label>Conversion Profile</label>
    <p-dropdown *ngIf="_conversionProfilesList.length" [options]="_conversionProfilesList" [(ngModel)]="_currentEntry.conversionProfileId"
                [style]="{'width':'210px', 'height':'34px'}"></p-dropdown>
  </div>
  <div class="entry-options">
    <div class="dvr">
      <p-checkbox [ngModel]="_currentEntry.dvrStatus" (ngModelChange)="_onDvrCheckChange($event)" label="Enable Live DVR" binary="true"></p-checkbox>
    </div>
    <div class="recording">
      <p-checkbox [(ngModel)]="_recording" (onChange)="_onRecordingCheckChange($event)" label="Enable Live to VOD Recording" binary="true"></p-checkbox>
      <div *ngIf="_recording">
        <p-radioButton name="recordingNewEntrySessionType"
                       value="newEntryPerSession"
                       [ngModel]="_currentEntry.recordStatus | recordingEnum"
                       (ngModelChange)="_onClickRecordingRadio($event)"
                       label="Create new entry for every broadcast session"></p-radioButton>
      </div>
      <div *ngIf="_recording">
        <p-radioButton name="recordingAppendRecordingType"
                       value="appendRecording"
                       [ngModel]="_currentEntry.recordStatus | recordingEnum"
                       (ngModelChange)="_onClickRecordingRadio($event)"
                       label="Append recorded content to a single entry"></p-radioButton>
      </div>
    </div>
    <div class="previewMode">
      <p-checkbox [(ngModel)]="_previewMode" label="Preview Mode" binary="true"></p-checkbox>
    </div>
  </div>
</div>
