<div class="additional-settings kUseKMCngIcons">
  <div class="conversion-profile">
    <label>Conversion Profile</label>
    <p-dropdown [options]="_conversionProfilesList" [(ngModel)]="_selectedConversionProfile"
                [style]="{'width':'210px', 'height':'34px'}"></p-dropdown>
  </div>
  <div class="entry-options">
    <div class="dvr">
      <p-checkbox [(ngModel)]="_dvr" label="Enable Live DVR" binary="true"></p-checkbox>
    </div>
    <div class="recording" *ngIf="_recording">
      <p-checkbox [(ngModel)]="_recording.enabled" label="Enable Live Recording" (click)="_onClickRecordingCheck()" binary="true"></p-checkbox>
      <div *ngIf="_recording.enabled">
        <p-radioButton name="recordingNewEntrySessionType"
                       value="newEntryPerSession"
                       [(ngModel)]="_recording.type"
                       label="Create new entry for every broadcast session"></p-radioButton>
      </div>
      <div *ngIf="_recording.enabled">
        <p-radioButton name="recordingAppendRecordingType"
                       value="appendRecording"
                       [(ngModel)]="_recording.type"
                       label="Append recorded content to a single entry"></p-radioButton>
      </div>
    </div>
    <div class="previewMode">
      <p-checkbox [(ngModel)]="_previewMode" label="Preview Mode" binary="true"></p-checkbox>
    </div>
  </div>
</div>
