.dashboardWindow {
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}

:host .preview-tabs /deep/ {
  .ui-widget-header .ui-state-active, .ui-widget-content .ui-state-active, .ui-state-active {
    border: none;
    text-decoration: underline;
  }

  .ui-widget-header .ui-state-default, .ui-widget-content .ui-state-default, .ui-state-default
  {
    border:none;
  }
}

